<!doctype html>
<html>
<head>
    <title>Image vide</title>
    <link rel="stylesheet" href="{{ asset('assets/node_modules/bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">

</head>
<body>
<div class="imgvide">
    <img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt"" >
</div>
</body>
</html>