<!doctype html>
<html lang"fr">
<head>
    <title>Ma prmiere page symfony</title>
</head>
<body>
<div>Ici on affiche la date d'aujourd'hui : {{"now" | date("d/m/Y")}}</div>
<div>Bonjour {{name | upper}} {{firstname}}</div>
</body>
</html>